body {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    max-height: 115vh;
    padding: 0;
    margin: 0%;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F7F7F7;
    color: #3d3d3d;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    gap: 20vw;
    margin: 10px 0 10px 0;
    height: 5vh;
}



#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.8em;
    letter-spacing: 3px;
    padding-top: 5px;
}

.title:hover {
    color: #75EDBF;
    transform: scale(1.05);
    text-shadow: 1px 1px 3px #3d3d3d0e;
    transition: transform 330ms ease-in-out;
}

.buttons {
    display: flex;
    gap: 5px;
    
}

.buttons button {
    background-color: transparent;
    border-style: none;
    color: #3d3d3d;
    font-weight: 500;
    font-size: 0.9em;
    padding: 3px 10px;
    border-radius: 20px;
}

.buttons button:hover {
    background-color: #75EDBF;
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 800px;
    min-width: 400px;
    max-width: 80vw;
}

.banner {
    background-color: #75EDBF;
    height: 35vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    box-shadow: 1px 2px 5px #3d3d3d13;
}

.banner-title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.5em;
    margin-bottom: 0;
    margin-left: 10px;
}

.banner-paragraph {
    word-wrap: break-word;
    margin-left: 10px;
    margin-top: 0px;
}

.checkMenu {
    background-color: #3d3d3d;
    border-style: none;
    color: #F7F7F7;
    font-weight: 600;
    font-size: 1em;
    height: 30px;
    width: 250px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.checkMenu:hover {
    color: #75EDBF;
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

.contact-st {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-st .contact-title {
    align-self: flex-start;
    margin-left: 5px;
}

.contact-title {
    color: #313131;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.0em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.contact-st .banner-paragraph {
    margin-left: 7px;
}

.checkContact {
    background-color: #3d3d3d;
    border-style: none;
    color: #F7F7F7;
    font-weight: 600;
    font-size: 1em;
    height: 40px;
    width: 250px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkContact:hover {
    color: #75EDBF;
    transform: scale(1.1);
    transition: transform 330ms ease-in-out;
}

.menu {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.popular-dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    flex-grow: 0;
    max-width: 800px;
}

@media (min-width : 1000px) {
    .menu-content {
        flex-wrap: nowrap;
    }
}

.food-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-width: 340px;
    max-width: 370px;
}
.menuContent-text {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: auto;
    height: 50px;
}

.food-items p {
    font-weight: 100;
    text-transform: none;
    margin: 0%;
    padding-top: 8px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.left-column {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 50px 50px 50px;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 340px;
}

.right-column {
    display: grid;
    grid-template-columns: 25vw;
    grid-template-rows: 50px 50px 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    min-width: 340px;
}

.menuContent-Price {
    font-weight: bold;
    font-size: 1.5em;
}

.contact {
    display: flex;
    flex-direction: column;
}

.paragraph-content {
    margin-top: 0;
    margin-bottom: 40px;
}

.contact-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    display: flex;
    flex-direction: column;
    width: 340px;
    border-style: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 2px  #59595949
}


label {
    margin-top: 10px;
    font-weight: bolder;
}

#message {
    text-align: left;
    height: 100px;
    width: 40vw;
    min-width: 340px;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

footer:hover {
    color: #75EDBF;
    transform: scale(1.05);
    text-shadow: 1px 1px 3px #3d3d3d0e;
    transition: transform 330ms ease-in-out;
}